body {
    background-color: skyblue;
    text-align: center;
    padding:10%;

}

ul{
    list-style: none;
}

#delete{
    width : 100px;
    float: right; 
    clear: both; 
}

li{
    height: 50px;
}